<html>
<head>
 <meta http-equiv="content-style-type" content="text/css; charset=UTF-8">
 <title>炎々(En-En)</title>
 <link rel="stylesheet" type="text/css" href="style.css" />
</head>


<body>

<div class="left">
 <div class="flash">
  <embed src="Main.swf" bgcolor="#ffffff" loop="false" width=292" height="286">
 </div>
</div>

<div class="right">
 <div class="ranking">
  <TABLE width="300" border="2">
   <TR> <TH>Name</TH> <TH>Score</TH>

   {% for info in info_list %}
    <TR>
     <TD>
       {% if info.name %}
         <b>{{ info.name }}</b>
       {% else %}
        No Name
       {% endif %}
     </TD>
     <TD>
       {% if info.score %}
         <b>{{ info.score }}</b>
       {% else %}
        ????
       {% endif %}
     </TD>
    </TR>
   {% endfor %}
  </TABLE>
 </div>
</div>

<div class="bottom">
 <div class="login">
  <br>
     {% if show_login %}
       <a href="{{ url }}">Login</a> ： GoogleAccountでログインすると、アカウント名が使われます
     {% else %}
       <a href="{{ url }}">Logout</a> ： ログアウトすると、名前がNo Name扱いになります
     {% endif %}
  <br>
 </div>

 <div class="info">
  <br>
  <br>
  これはGAE＋Flashの習作です。
  <br>
  ブログ：<a href="http://d.hatena.ne.jp/o_healer/">Master of None</a>
  <br>
 </div>
</div>

</body>
</html>
